body {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.text {
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-weight: 500;
}

.keyboard {
  background: linear-gradient(#fff3 14.52%, #fff0 87.38%), #626166;
  border-radius: 12px;
  flex-wrap: wrap;
  gap: 8px;
  width: 1027px;
  height: 352px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  box-shadow: 0 2px #191a1f;
}

.row {
  gap: 8px;
  display: flex;
}

.key {
  color: #fff;
  text-align: center;
  background: linear-gradient(#fff0 0%, #ffffff0f 100%), #191a1f;
  border: none;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 60px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: background-color .1s;
  display: flex;
  box-shadow: inset 0 3px 1px #ffffff26;
}

.ke {
  color: #fff;
  text-align: center;
  background: linear-gradient(#fff0 0%, #ffffff0f 100%), #191a1f;
  border: none;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 60px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: flex;
  box-shadow: inset 0 3px 1px #ffffff26;
}

.key:hover, .key.hovered {
  background-color: green;
  transform: translateY(3px);
}

.key:hover, .key.hovernot {
  background-color: red;
  transform: translateY(3px);
}

.key--delete {
  box-sizing: border-box;
  justify-content: end;
  align-items: end;
  width: 97px;
  padding-bottom: 5px;
  padding-right: 8px;
  font-size: 13px;
  display: flex;
}

.key--tab {
  box-sizing: border-box;
  justify-content: start;
  align-items: end;
  width: 96px;
  padding-bottom: 5px;
  padding-left: 8px;
  font-size: 13px;
  display: flex;
}

.key--capslock {
  box-sizing: border-box;
  justify-content: start;
  align-items: end;
  width: 114px;
  padding-bottom: 5px;
  padding-left: 8px;
  font-size: 13px;
  display: flex;
}

.key--return {
  box-sizing: border-box;
  justify-content: end;
  align-items: end;
  width: 115px;
  padding-bottom: 5px;
  padding-right: 8px;
  font-size: 13px;
  display: flex;
}

.key--shift-left {
  box-sizing: border-box;
  justify-content: start;
  align-items: end;
  width: 149px;
  padding-bottom: 5px;
  padding-left: 8px;
  font-size: 13px;
  display: flex;
}

.key--shift-right {
  box-sizing: border-box;
  justify-content: end;
  align-items: end;
  width: 150px;
  padding-bottom: 5px;
  padding-right: 8px;
  font-size: 13px;
  display: flex;
}

.key--space {
  width: 342px;
}

.key--fn {
  box-sizing: border-box;
  justify-content: start;
  align-items: end;
  padding-bottom: 5px;
  padding-left: 8px;
  font-size: 13px;
  display: flex;
}

.key--control, .key--option, .key--command {
  box-sizing: border-box;
  justify-content: start;
  align-items: end;
  padding-bottom: 5px;
  padding-left: 8px;
  font-size: 11px;
  display: flex;
}

.key--command {
  width: 79px;
}

.key-wrap {
  align-items: center;
  gap: 8px;
  display: flex;
}

.key-wrap-top {
  flex-direction: column;
  display: flex;
}

.key--arrow-left, .key--arrow-up, .key--arrow-down, .key--arrow-right {
  height: 31px;
}

.btn {
  color: #fff;
  background-color: #556b2f;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #638725;
}

.span, #key {
  color: #fff;
  text-align: center;
  background: linear-gradient(#fff0 0%, #ffffff0f 100%), #191a1f;
  border: none;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: flex;
  box-shadow: inset 0 3px 1px #ffffff26;
}
/*# sourceMappingURL=homework_5.2cdaf7bc.css.map */
